[Unit]
Description=CPU Usage Sender Service
After=network.target

[Service]
Type=simple
User=nnyn
Group=nnyn
ExecStart=/usr/local/bin/send-cpu-usage -h http://192.168.1.105 -i 1000ms
ExecStop=/bin/kill ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target